.background {
    height: 354px;
    /* background-color: aqua; */
    padding: 0px 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin: 0 15px 0 15px;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    height: 330px;
    width: 80%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 50%; 
    float: left;

}

.description-container {
    float: right;
    width: 50%;
    font-family: "roboto", sans-serif;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}
p {
    font-size: 14px;
    line-height: 24px;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    text-align: left;
}

li, span {
    list-style-type: none;
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;padding: 4px 10px;
    border-radius: 4px;
}

span {
    border: 1px solid #2196F3;
}
ul {
    padding-left: 0px;
}

.download-button {
    color: white;
    display: inline-block;
    background-color: #2196F3;
    cursor: pointer;
    margin-right: 0px !important;
    outline: 0;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 20px;
    transition: color 0.3s ease;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    vertical-align: middle;
    text-decoration: none;
}

.fa-download {
    margin-left: 5px;
}

@media only screen and (max-width: 794px) {
    .background {
        margin-top: 40px;
        height: 830px;
        padding: 0px 0;
    }
    .img-container {
        display: flex;
        float: left;
        margin: auto;
        width: 100%;
        height: 290px;
      }
      img {
          height: 240px;
          width: 240px;
      }
      .description-container {
          width: 100%;
          text-align: left;
          margin-top: 0px;
      }
}