.background {
    height: 1230px;
    /* background-color: aqua; */
    padding: 180px 0;
    margin-right: auto;
    margin-left: auto;
    font-family: "roboto", sans-serif;
}

h3 {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.box {
    max-width: 350px;
    box-shadow: -1rem 0 3rem #000;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
    background-color: #202026;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    float: left;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto 15px;

}

.box-title {
    display: flex;
    justify-content: left;
    font-size: 25px;
    font-family: sans-serif;
    margin: 0 0 18px;
}
.fa-bullseye {
    color: #9774fa;
}

.fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}

.fa.iron-color {
    color: #ed7256;
}

.fa.sky-color {
    color: #2796e2;
}

.skills-container {
    float: left;
    padding: 60px 0;
    padding-top: 100px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
}
.progress-description {
    display: flex;
}

.procent-value {
    float: right;
    width: 50%;
    text-align: right;
}

.progress-name {
    float: left;
    width: 50%;
}

.bar-position {
    margin-top: 20px;
    color: white;
}

.tech-skills-container {
    width: 50%;
    min-width: 480px;
}
.pro-skills-container {
    width: 50%;
    padding-left: 20%;
}

.progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 15px 0 2px;
    border-radius: 10px;
    background: rgba(199, 198, 198, 0.6);
}

.progress {
    background-color: #2796e2;
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: 3s all;

    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
}

.circle-position {
    display: flex;
    width: 100%;
    justify-content: center;
}

.circle-wrap {
    margin: 30px 50px;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #100e17;
    font-family: "Roboto", sans-serif;
    background:rgba(199, 198, 198, 0.6);
  }
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
  }
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .mask.fullC,
  .comC .comF {
    animation: circle-communication ease-in-out 3s;
    transform: rotate(135deg);
  }
  @keyframes circle-communication{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  
  .mask.fullT,
  .teamC .teamF {
    animation: circle-team ease-in-out 3s;
    transform: rotate(99deg);
  }
  @keyframes circle-team{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(99deg);
    }
  }
  .mask.fullCreativ,
  .creativC .creativF {
    animation: circle-creativ ease-in-out 3s;
    transform: rotate(108deg);
  }
  @keyframes circle-creativ{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(108deg);
    }
  }
  .mask.fullManagement,
  .managementC .ManagementF {
    animation: circle-mangement ease-in-out 3s;
    transform: rotate(154deg);
  }
  @keyframes circle-mangement{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(154deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #100e17;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #2796e2;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }

  .circle-name {
    font-size: 14px;
    color: white;
    margin-top: 165px;
    text-align: center;
  }

@media only screen and (max-width: 794px) {
    .background {
        height: 800px;
        padding: 20px 20px 0 20px;
    }
    .whatIDo-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box {
        margin: auto auto 20px auto;
        float: initial;
    }
    .skills-container {
        /* float: left; */
        padding: 160px 0;
        display: initial;
        /* flex-wrap: wrap; */
        width: 100%;
        
    }

    .tech-skills-container {
        width: 100%;
        min-width: initial;
    }
    .pro-skills-container {
        width: 100%;
        padding-left: initial;
    }
    .circle-wrap {
        margin: 30px 10px;
    }
}